
Homework/data/application_test.csv
Homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
Homework/data/application_train.csv
Homework/data/data-science-london-scikit-learn.zip
Homework/data/data-science-london-scikit-learn/test.csv
Homework/data/data-science-london-scikit-learn/train.csv
Homework/data/data-science-london-scikit-learn/trainLabels.csv
Homework/data/house_train.csv.gz
Homework/pred_gdbt_test.csv
Homework/untitled0.py
Homework/YourName.csv
